<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestScalaProject/src/a/b/TestScalaClass.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="a.b.TestScalaClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestScalaProject"/>
</launchConfiguration>
